{{ define "main" }}
{{- partial "about.html" . -}}

<div class="wrapper">
  <h1 class="main-header">{{ .Title }}</h1>
  {{ .Content }}
  <section class="chunk">
    <h2 class="visually-hidden">Топ книг для разработчика</h2>
    <ul class="chunk__list chunk__list--with-info">
      {{ range .Pages.ByDate }}
      <li class="{{ cond .Params.iconed "iconed" "" }}">
        <p class="chunk__title">{{ .Title }}</p>
        <p class="chunk__excerpt">{{ .Params.excerpt }}</p>
      </li>
      {{ end }}
    </ul>
  </section>
</div>

{{ end }}
