@font-face {
    font-weight: normal;
    font-family: 'iA Writer DuoS';
    font-style: normal;
    src: url('../fonts/iAWriterDuoS-Regular.eot') format('embedded-opentype'),
        url('../fonts/iAWriterDuoS-Regular.woff2') format('woff2'),
        url('../fonts/iAWriterDuoS-Regular.woff') format('woff');
}

@font-face {
    font-weight: normal;
    font-family: 'iA Writer DuoS';
    font-style: italic;
    src: url('../fonts/iAWriterDuoS-Italic.eot') format('embedded-opentype'),
        url('../fonts/iAWriterDuoS-Italic.woff2') format('woff2'),
        url('../fonts/iAWriterDuoS-Italic.woff') format('woff');
}

@font-face {
    font-weight: bold;
    font-family: 'iA Writer DuoS';
    font-style: normal;
    src: url('../fonts/iAWriterDuoS-Bold.eot') format('embedded-opentype'),
        url('../fonts/iAWriterDuoS-Bold.woff2') format('woff2'),
        url('../fonts/iAWriterDuoS-Bold.woff') format('woff');
}

@font-face {
    font-weight: bold;
    font-family: 'iA Writer DuoS';
    font-style: italic;
    src: url('../fonts/iAWriterDuoS-BoldItalic.eot') format('embedded-opentype'),
        url('../fonts/iAWriterDuoS-BoldItalic.woff2') format('woff2'),
        url('../fonts/iAWriterDuoS-BoldItalic.woff') format('woff');
}

