@import 'themes/default/assets/css/normalize.css';
@import 'themes/default/assets/css/video.css';
@import 'themes/default/assets/css/blocks/header.css';
@import 'themes/default/assets/css/blocks/menu.css';
@import 'themes/default/assets/css/blocks/about.css';

:root {
    --purple: #45046a;
    --purple_10a: rgba(24, 0, 38, 0.1);
    --gray: #737373;
    --blue_link: #226bfc;
    --blue_link_darken: #095afc;
    --blue_link_lighten: #a0bffe;
    --yellow: #f1ebbb;
    --yellow_darken: #e4d87c;
    --yellow_lighten: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    color: #040404;
    font-family: system-ui;
    background: #ffffff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

a {
    color: var(--blue_link);
    text-decoration: none;
    background-image: linear-gradient(var(--blue_link_lighten), var(--blue_link_lighten));
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 100% 1px;
    cursor: pointer;
    transition: color 0.2s;

    &:hover, &:focus, &:active {
        color: var(--blue_link_darken);
        text-decoration: none;
        background-image: linear-gradient(var(--blue_link), var(--blue_link));
        background-repeat: repeat-x;
        background-position: 0 100%;
        background-size: 100% 1px;
    }
}

.wrapper {
    width: calc(100% - 32px);
    margin: 0 16px;

    @media (min-width: 1000px) {
        width: calc(100% - 48px);
        margin: 0 24px;
    }

    @media (min-width: 1024px) {
        width: 1000px;
        margin: 0 auto;
    }
}

.about__title::after {

    @media (width <= 550px) {
        position: absolute;
        top: -40px;
        right: 0;
        width: 100px;
        height: 500px;
        background-image: url({{ absURL "images/apmyp_small_x2.png" }});
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
    }
}

/*
.header {
    margin: 35px 0 0 0;
}

.logo a {
    background: transparent;
}

.menu {
    margin-top: 15px;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 40px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 1000px) {
        line-height: inherit;
        flex-wrap: nowrap;
    }
}

.menu__list-item:not(:last-child) {
    margin-right: 26px;
} */

.chunks {
    margin-top: 44px;

    @media (min-width: 1000px) {
        display: flex;
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-wrap: wrap;
        margin-top: 60px;
    }
}

.chunk {
    width: 100%;
    margin-top: 36px;
    font-size: 20px;
    line-height: 24px;

    @media (min-width: 1000px) {
        width: 50%;
        margin-top: 32px;
        font-size: 24px;
        line-height: 40px;
    }

    &:first-child {
        margin-top: 0;
    }
}

.chunk__title {
    margin: 0;
    color: var(--gray);
    font-weight: normal;
    font-size: 24px;
    text-transform: lowercase;
}

.chunk__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chunk__list li {
    display: block;
    margin: 16px 0;

    @media (min-width: 1000px) {
        display: inherit;
        margin: 0;
    }
}

.chunk__list li.iconed .chunk__subheader {
    position: relative;

    &::before {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 4px;
        background-image: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.36 8.58l-7.38-1.12L12.68.4c-.25-.52-1.11-.52-1.36 0l-3.3 7.05L.64 8.58c-.6.1-.85.83-.43 1.27l5.36 5.5-1.26 7.76a.75.75 0 001.1.78L12 20.24l6.59 3.65a.75.75 0 001.1-.78l-1.26-7.77 5.36-5.49a.75.75 0 00-.43-1.27z' fill='%23ffc107'/%3E%3C/svg%3E");
        background-size: contain;
        content: '';

        @media (min-width: 1000px) {
            position: absolute;
            top: 4px;
            left: -24px;
            margin-right: 0;
        }
    }
}

.chunk__list.chunk__list--with-info li {
    margin: 40px 0 24px 0;

    @media (min-width: 1000px) {
        margin: 24px 0;
    }
}

.chunk__list a {
    font-size: inherit;
}

.chunk__subheader {
    margin: 0;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    text-transform: initial;

    @media (min-width: 1000px) {
        font-size: 20px;
        line-height: 22px;
    }
}

.chunk__excerpt {
    margin: 6px 0 0;
    font-size: 16px;
    line-height: 18px;
}

.main-header {
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 44px;
    line-height: 70px;

    @media (min-width: 1000px) {
        margin-top: 70px;
        margin-bottom: 40px;
        font-size: 48px;
    }
}

.footer {
    margin-top: 100px;
    margin-bottom: 40px;
    color: var(--gray);
    font-size: 16px;
    line-height: 22px;

    @media (min-width: 767px) {
        margin-bottom: 0;
    }
}

.footer__image {
    width: 55px;
    min-width: 55px;
    margin-right: auto;

    @media (min-width: 767px) {
        margin-right: inherit;
    }
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 767px) {
        flex-wrap: nowrap;
    }
}

.footer__info {
    width: 50%;

    @media (min-width: 767px) {
        width: inherit;
        margin-left: 48px;
    }
}

.footer__info-title {
    font-weight: normal;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__list a {
    font-size: inherit;
}

.post {
    margin-top: 50px;
    margin-bottom: 100px;

    h1 {
        margin: 0;
        font-weight: normal;
        font-size: 30px;
        line-height: 1.15;

        @media (min-width: 767px) {
            font-size: 36px;
            line-height: 36px;
        }
    }

    .post__info {
        margin: 0;
        color: var(--gray);
        font-size: 16px;
        line-height: 36px;
    }

    .post__ps {
        font-size: 16px;
    }
}

.post-wrapper {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    max-width: 500px;
    font-size: 18px;
    line-height: 1.5;

    @media (min-width: 767px) {
        width: inherit;
        max-width: 500px;
    }

    @media (min-width: 1000px) {
        width: inherit;
        max-width: 700px;
    }

    h2, h3, h4, h5, h6 {
        font-weight: normal;
        line-height: 1.15;
    }

    ul, ol {
        line-height: 28px;
    }

    img {
        max-width: 100%;
    }
}

/*
.post-container {
    display: flex;
}

.post-toc {
    display: none;
    @media(min-width: 1000px) {
        display: block;
        margin-left: 16px;

        .post-toc-wrapper {
            position: sticky;
            top: 16px;
        }

        #TableOfContents ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #TableOfContents li {
            line-height: 1.3;
            margin-top: 0.7em;
            font-size: 16px;
        }
    }
}
*/

code {
    font-size: 16px;
}

.highlight {

    @media (width < 1000px) {
        word-break: break-word;
    }

    .language-bash {

        @media (width < 1000px) {
            white-space: initial;
        }
    }
}

.paragraph-with-factoid {
    position: relative;
}

.factoid {
    margin-top: -10px;
    font-size: 16px;

    @media (min-width: 768px) {
        position: absolute;
        top: 8px;
        left: 100%;
        width: 206px;
        margin-top: 0;
        margin-left: 24px;
        color: #1c1c1c;
    }

    @media (min-width: 820px) {
        width: 276px;
    }
}

.factoid p {
    margin: 0;
}

.factoid p:not(:last-child) {
    margin-bottom: 4px;
}
