.about {
    color: #fbfbfb;

    @media (width <= 550px) {
        margin-top: 30px;
        padding: 20px 0;
        background-color: var(--purple);
    }

    @media (width > 550px) {
        padding: 10px 0 10px 0;
        background-image: linear-gradient(to bottom, transparent 0, transparent 40px, var(--purple) 40px, var(--purple) 100%);
    }
}

.about__wrapper {
    /* position: relative; */
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-auto-flow: column;
}

.about__title {
    align-self: end;
    display: block;
    font-size: 44px;
    font-weight: normal;
    position: relative;
    z-index: 1050;

    @media (width > 550px) {
        margin-top: 30px;
    }


    @media (min-width: 1000px) {
        position: inherit;
        font-size: 48px;
        width: 500px;
    }
}

.about__text {
    grid-row-start: 2;
    grid-column-start: 1;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    width: 100%;
    max-width: 500px;
    position: relative;
    z-index: 1050;

    @media (width <= 370px) {
        max-width: 240px;
    }

    @media (370px < width <= 550px) {
        max-width: 270px;
    }

    @media (min-width: 767px) {
        position: inherit;
        width: 500px;
        max-width: inherit;
    }

    @media (min-width: 1000px) {
        position: inherit;
        font-size: 24px;
        width: 500px;
        max-width: inherit;
    }
}

.about__link {
    color: var(--yellow);
    background-image: linear-gradient(var(--yellow_lighten), var(--yellow_lighten));

    &:hover, &:focus, &:active {
        color: var(--yellow_darken);
        background-image: linear-gradient(var(--yellow_darken), var(--yellow_darken));
    }
}


.about__image {

    @media (width <= 550px) {
        display: none;
    }

    @media (width > 550px) {
        grid-row: span 2;
    }
}

/*
.about__image {
    position: absolute;
    right: 0;
    top: -42%;
    width: 100px;
    height: 160px;
    z-index: 1030;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url({{ absURL "images/apmyp_small.png" }});
    background-size: contain;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        background-image: url({{ absURL "images/apmyp_small_x2.png" }});
    }

    @media (min-width: 1000px) {
        right: 0;
        bottom: -20%;
        width: 190px;
        height: 304px;
        background-image: url({{ absURL "images/apmyp_large.png" }});

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (-o-min-device-pixel-ratio: 2/1),
            only screen and (min-resolution: 192dpi),
            only screen and (min-resolution: 2dppx) {
            background-image: url({{ absURL "images/apmyp_large_x2.png" }});
        }
    }
}
*/
