.menu {
    @media (max-width: 698px) {
        display: grid;
    }
}

.menu__button {
    cursor: pointer;

    @media (max-width: 698px) {
        display: block;
        border: none;
        background-color: transparent;
        justify-self: end;
        margin: 42px 12px 0 0;
    }

    @media (min-width: 699px) {
        display: none;
    }
}

.menu__icon-menu {

    @media (max-width: 698px) {
        stroke: #180026;
        display: block;

        .menu__button--open & {
            display: none;
        }
    }
}

.menu__icon-cross {

    @media (max-width: 698px) {
        stroke: #180026;
        display: none;

        .menu__button--open & {
            display: block;
        }
    }
}

.menu__list {
    list-style: none;

    @media (max-width: 698px) {
        display: none;
        row-gap: 8px;
        padding-top: 12px;
        padding-bottom: 22px;
        padding-left: 104px;
        background-color: #ffffff;
        margin-top: 20px;
        box-shadow: 0 50vh 0 50vh var(--purple_10a);

        &--open {
            display: grid;
        }
    }

    @media (min-width: 699px) {
        display: grid;
        grid-auto-flow: column;
        column-gap: 36px;
        justify-content: end;
    }
}

.menu__link {
    &--disabled {
        cursor: default;
        color: var(--gray);
        background-image: none;

        &:hover, &:focus, &:active {
            color: var(--gray);
            background-image: none;
        }
    }
}
