<section class="about">
  <h2 class="visually-hidden">Об Артуре Борденюке</h2>
  <div class="wrapper about__wrapper">
    <b class="about__title">Привет!</b>
    <p class="about__text">
      Меня зовут Артур. Раньше работал тимлидом
      и&nbsp;фуллстэк-разработчиком.<br /><br />
    </p>
    <div class="about__image">
      <picture>
        <source type="image/webp"
          srcset="{{ absURL "images/apmyp_large_x2.webp" }} 2x, {{ absURL "images/apmyp_large.webp" }} 1x">
        <img
          width="190"
          height="304"
          src="{{ absURL "images/apmyp_large.png" }}"
          srcset="{{ absURL "images/apmyp_large_x2.png" }} 2x, {{ absURL "images/apmyp_large.png" }} 1x"
          alt="Чибик Артура"
        >
      </picture>
    </div>
  </div>
</section>
