<footer class="footer">
  <div class="wrapper footer__wrapper">
    <img class="footer__image" src="{{ absURL "images/superhero.png" }}" title="Superapmyp" alt="Superapmyp">
    <div class="footer__info">
      <b class="footer__info-title">для связи:</b>
      <ul  class="footer__list">
        <li>
          <a title="Личная почта" target="_blank" rel="noopener noreferrer author" href="mailto:me@apmyp.pro">me@apmyp.pro</a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferrer author" href="https://twitter.com/apmyp0">твиттер</a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferrer author" href="tg://resolve?domain=apmyp0">телеграм</a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferrer author" href="https://apmyp.dev">en blog</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script src='/js/index.min.js'></script>
