<header class="header">
  <div class="header__wrapper wrapper">
    <div class="header__logo">
      <a class="header__logo-link" href="{{ absURL "" }}">
        <img class="header__logo-image" src="{{ absURL "images/cube-logo.svg" }}" title="Блог о разработке" alt="Блог о разработке">
      </a>
    </div>
    <nav class="header__menu menu">
      <button type="button" class="menu__button" aria-expanded="false" aria-controls="menu__list">
        <svg class="menu__icon" aria-hidden="true" width="32" height="32">
          <use class="menu__icon-menu" href="{{ absURL "images/sprite.svg" }}#menu"></use>
          <use class="menu__icon-cross" href="{{ absURL "images/sprite.svg" }}#cross"></use>
        </svg>
      </button>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="{{ absURL "" }}" class="menu__link">Все заметки</a>
        </li>
        <li class="menu__item">
          <a class="menu__link menu__link--disabled">Книги</a>
        </li>
        <li class="menu__item">
          <a class="menu__link menu__link--disabled">Избранное</a>
        </li>
        <li class="menu__item">
          <a class="menu__link menu__link--disabled">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>