<header class="header">
  <div class="wrapper">
    <div class="logo">
      <a href="{{ absURL "" }}">
        <img src="{{ absURL "images/logo.svg" }}" alt="Apmyp">
      </a>
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__list-item">
          <a class="menu__link" href="#">Посты</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__link" href="#">Лайфхаки</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__link" href="#">Личность</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__link" href="#">Принципы</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__link" href="#">Чеклисты</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__link" href="#">Кейсы</a>
        </li>
      </ul>
    </nav>
  </div>
</header>