<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <link rel='canonical' href='{{ .Permalink }}'>

  <link rel='stylesheet' href='/css/main.min.css'>
  <link rel="alternate" type="application/rss+xml" href="{{ absURL "index.xml" }}" title="RSS">
  <link rel="alternate" type="application/rss+xml" href="{{ absURL "podcast.xml" }}" title="Podcast RSS">

  {{ partial "favicons.html" . }}
  {{ partial "meta.html" . }}
</head>