<header class="header">
  <div class="wrapper">
    <div class="logo">
      <a href="{{ absURL "" }}" title="Apmyp">
        <img src="{{ absURL "images/logo.svg" }}" title="Apmyp" alt="Apmyp">
      </a>
    </div>
    <nav class="menu">
      <ul class="menu__list">
        {{ range $taxonomyname, $taxonomy := $.Site.Taxonomies }}
          {{ if eq "categories" $taxonomyname }}
              <li class="menu__list-item">
                <a class="menu__link" href="{{ absURL "" }}">
                  Все заметки
                </a>
              </li>
              {{ range $key, $value := $taxonomy.Alphabetical }}
                  <li class="menu__list-item">
                    {{ range first 1 $value.Pages }}
                      {{ range first 1 .Params.categories }}
                        <a class="menu__link" href="{{ "/categories/" | absURL }}{{ . | urlize }}/">
                          {{ with $.Site.GetPage (printf "%s/%s" "/categories" (. | urlize)) }}{{ .Title }}{{ end }}
                        </a>
                      {{ end }}
                    {{ end }}
                  </li>
              {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
</header>