<div class="wrapper">
  <h1 class="main-header">Лучшее из блога</h1>
  
  <section class="chunk">
    <header class="chunk__title">крайняя заметка</header>
    <ul class="chunk__list">
      <li>
        <a href="#">URL Shortener</a>
      </li>
    </ul>
  </section>
  
  <section class="chunk">
    <header class="chunk__title">личность</header>
    <ul class="chunk__list">
      <li>
        <a href="#">Польза медитации</a>
      </li>
    </ul>
  </section>
  
  <section class="chunk">
    <header class="chunk__title">лайфхаки</header>
    <ul class="chunk__list">
      <li>
        <a href="#">Example.com для тестов</a>
      </li>
      <li>
        <a href="#">Изображение может не загрузиться</a>
      </li>
      <li>
        <a href="#">Защити свои ссылки пёс</a>
      </li>
    </ul>
  </section>
</div>