<article class="post">
  <div class="wrapper">
    <header>
      <h1>{{ .Title }}</h1>
      <p class="post__info"><time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Day }}
          {{ index $.Site.Data.Months.months_rod .Date.Month }} {{ .Date.Year }}</time></p>
    </header>

    <div class="post-container">
      <div class="post-wrapper">
        {{ .Content }}
        <p class="post__ps">
          P.S. Свежие посты публикуются в <a title="Канал в телеграме Артур и до"
            href="tg://resolve?domain=magnificent_apmyp" target="_blank">телеграме</a>. Если чувствуешь, что они
          полезны, то подпишись.
        </p>
      </div>
      {{ if .Params.toc }}
        <aside class="post-toc">
          <div class="post-toc-wrapper">
            <header><b>Содержание</b></header>
            {{ .TableOfContents }}
          </div>
        </aside>
      {{ end }}
    </div>

    {{ if and (not .Params.disableComments) (eq .Section "posts") }}
    <div class="post-comments">
      <div id="remark42"></div>
      <script>
        var remark_config = {
          host: {{ .Site.Params.remark42.host }},
          site_id: {{ .Site.Params.remark42.site_id }},
          locale: "ru"
        };
        !function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);
      </script>
    </div>
    {{ end }}
  </div>
</article>