$purple: #45046A;
$gray: #A3A3A3;
$blue_link: #226BFC;
$blue_link_darken: darken($blue_link, 5%);
$blue_link_lighten: lighten($blue_link, 25%);
$yellow: #F1EBBB;
$yellow_darken: darken($yellow, 15%);
$yellow_lighten: lighten($yellow, 30%);

body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
}

.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

a {
  text-decoration: none;
  color: $blue_link;
  transition: color 0.2s;

  background-image: linear-gradient($blue_link_lighten, $blue_link_lighten);
  background-repeat: repeat-x;
  background-size: 100% 1px;
  background-position: 0 100%;

  &:hover, &:focus, &:active {
    color: $blue_link_darken;
    background-image: linear-gradient($blue_link, $blue_link);
    background-repeat: repeat-x;
    background-size: 100% 1px;
    background-position: 0 100%;

    text-decoration: none;
  }
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

header {
  margin: 25px 0 0 0;
}

.logo a {
  background: transparent;
}

.menu {
  margin-top: 15px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu__list-item:not(:last-child) {
  margin-right: 26px;
}

.about {
  background-color: $purple;
  color: #fbfbfb;
  margin-top: 50px;
  padding: 50px 0;
}

.about__wrapper {
  position: relative;
}

.about__title {
  display: block;
  font-size: 48px;
  font-weight: normal;
  margin: 0 0 15px 0;
}

.about__text {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  width: 500px;
}

.about__link {
  color: $yellow;

  background-image: linear-gradient($yellow_lighten, $yellow_lighten);

  &:hover, &:focus, &:active {
    color: $yellow_darken;
    background-image: linear-gradient($yellow_darken, $yellow_darken);
  }
}

.about__image {
  position: absolute;
  right: 0;
  bottom: -15%;
  width: 190px;
}

.chunk {
  font-size: 24px;
  line-height: 40px;
}

.chunk__title {
  font-weight: normal;
  color: $gray;
  text-transform: lowercase;
}

.chunk__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chunk__list a {
  font-size: inherit;
}

.main-header {
  font-size: 48px;
  line-height: 70px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.footer {
  margin-top: 120px;
  font-size: 16px;
  color: $gray;
}

.footer__image {
  width: 55px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}

.footer__info {
  margin-left: 48px;
}

.footer__info-title {
  font-weight: normal;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list a {
  font-size: inherit;
}