{{ define "main" }}
<article class="post">
  <div class="wrapper">
    <header>
      <p class="episode__number">Эпизод {{ printf "%03d" .Params.episodeNumber }}</p>
      <h1>{{ .Title }}</h1>
      <p class="post__info">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">
          {{ .Date.Day }} {{ index $.Site.Data.Months.months_rod .Date.Month }} {{ .Date.Year }}
        </time>
        · {{ .Params.duration }}
      </p>
    </header>

    <div class="episode__player">
      <audio src="{{ .Params.audioUrl }}" controls preload="none">
        Ваш браузер не поддерживает аудио плеер.
      </audio>
    </div>

    <div class="post-container">
      <div class="post-wrapper">
        {{ .Content }}
        <p class="post__ps">
          P.S. Подписывайтесь на подкаст в вашем приложении через
          <a href="{{ absURL "podcast.xml" }}">RSS-фид</a>.
        </p>
      </div>
    </div>
  </div>
</article>

{{- partial "about.html" . -}}
{{ end }}
